body {
  background-color: blue;
  font-size: 16px;
}

body nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
h1 {
  text-align: center;
}
body nav li {
  float: right;
  text-decoration: underline;
  font-size: 2rem;
}

body nav ul h1 {
  text-align: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

body nav li a:hover:not(.active) {
  background-color: #111;
  border: 3px solid red;
}

.active {
  background-color: #04aa6d;
}

header {
  color: white;
  font-size: 4rem;
  border: 5px solid black;
  margin: 20px;
  background-color: #04aa6d;
  text-align: center;
  padding: 10px 14px;
}
footer {
  text-align: center;
  font-size: 2rem;
  border: 1px solid white;
}
div {
  border: 5px solid red;
  margin: 100px 30px 100px;
  padding: 50px;
}

body footer ul {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  list-style: none;
}
